*.exe
*.o
*.i
*.elf
*.gba
!data/*.gba
*.sgm
*.sa1
*.ss[0-9]
*.sg1
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
sound/songs/midi/*.s
tools/agbcc
*.map
*.bat
*.dump
*.sa*
Thumbs.db
build/
.DS_Store
*.ddump
.idea/
porymap.*.cfg
prefabs.json
.vscode/
*.a
.fuse_hidden*
*.sna
*.diff
*.sym
*.js
/pokeemerald-*.png
src/data/map_group_count.h
tools/trainerproc/trainerproc
*.Identifier
*.smol
*.fastSmol
*.smolTM
__pycache__
.vs/slnx.sqlite
.vs/pokeemerald-expansion/FileContentIndex/1292bcd9-17da-4a2e-9466-7aa62bf4ff70.vsidx
.vs/pokeemerald-expansion/FileContentIndex/32fcf2d4-33e7-4c7f-80b0-557f51e74cef.vsidx
.vs/pokeemerald-expansion/FileContentIndex/44f29eac-dfe2-47dc-8f92-7ea7dea5bf9e.vsidx
.vs/pokeemerald-expansion/FileContentIndex/55826ba0-f7a3-45b5-979f-241890df3886.vsidx
.vs/pokeemerald-expansion/FileContentIndex/63fe2454-9f27-458c-b0f4-a360c1ef99c8.vsidx
.vs/pokeemerald-expansion/FileContentIndex/a7184142-6009-4700-b6bb-79d99ce4d8c0.vsidx
.vs/pokeemerald-expansion/FileContentIndex/ab481d45-1ac5-4131-bb5d-9d5bd8096e65.vsidx
.vs/pokeemerald-expansion/FileContentIndex/b5df677e-617b-44c8-b1b1-68a7852fcde5.vsidx
.vs/pokeemerald-expansion/FileContentIndex/c3e1fbab-6360-4e0b-a751-012308265116.vsidx
.vs/pokeemerald-expansion/FileContentIndex/c780120a-8a79-4756-837c-b8b68e27a3c9.vsidx
.vs/pokeemerald-expansion/FileContentIndex/c8be61b6-2bec-4c65-a5e4-bb7edde5c3de.vsidx
.vs/pokeemerald-expansion/FileContentIndex/cce642ea-089e-40c2-b565-1e291cd1f2d4.vsidx
.vs/pokeemerald-expansion/FileContentIndex/ea8ca11f-68fc-48d2-b5f3-2ce393e408a2.vsidx
.vs/pokeemerald-expansion/FileContentIndex/7ee5028e-720d-4491-9741-a0cb2451409c.vsidx
/.vs
